<div class="container mt-5">
  <!--フラッシュメッセージ-->
  <div class="my-2"><%= flash[:alert] %></div>
    <div class="row">
      <div class="col-md-12 col-md-10">
        <h2 class="doggies-title">アイテム一覧</h2>
          <div class="text-right pr-5">
            
            <!--新規投稿ボタン-->
            <%= link_to new_post_item_path, class: "btn btn-info" do %>
              <i class="fas fa-plus-circle"></i> 新規投稿
            <% end %>
          </div>
      </div>
    </div>
  <!--一覧画面の部分テンプレート呼び出し-->
  <%= render 'index', post_items: @post_items %>
  <!--ページネーション-->
  <%= paginate @post_items %>
</div>